

#main {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.row {
    display: flex;
}

.box {
    height: 5px;
    width: 5px;
    background-color: white;
}
.activated {
    height: 50px;
    width: 50px;
    outline-style: dashed;
    background-color: red;
    gap: 8px;
}