#main {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
    border: 5px;
    border-color: black;
    background-color: white;
    display: flex;
    gap: 8px;
}